[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/ctre"]
	path = vendor/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl.git
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/sndfile"]
	path = vendor/sndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/vulkan-memory-allocator"]
	path = vendor/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc.git
