.DS_Store
.idea
*.log
tmp/
build
.cache
.vs/
_deps
CMakeFiles/
Makefile
CMakeCache.txt
model.txt
linux_build/
*.bat
*.sln
*.vcxproj
*.vcxproj.filters
x64/
Testing/
.vscode
CMakeUserPresets.json
compile_commands.json
cmake/conan_files/
CMakeSettings.json
cmake-build-*
cmake/conanfile.hash
run/msdf_cache
