.DS_Store
.idea
*.log
tmp/
build
.cache
.vs/
_deps
CMakeFiles/
Makefile
*.cmake
CMakeCache.txt
model.txt
linux_build/
*.bat
*.sln
*.vcxproj
*.vcxproj.filters
x64/
Testing/
.vscode
CMakeUserPresets.json
compile_commands.json
conan_files/
